.my_green {
    background-color: #1abc9c;
}

.col-12,
.col-md-6,
.col-lg-4 {
    background-color: rgb(148, 197, 240);
}

main img {
    border-radius: 10px
    
}

.half-black-line {
    width: 75px;
    height: 1px;
    border: 1px solid black;
}
